* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Noto Serif", serif;
}
/* Variables */
:root {
  --trans-fast: 250ms ease-in-out;
}
/* Global styles */
.width {
  width: 100vw;
  height: 100vh;
}
.flex-reg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Begin styles */
body {
  background-image: url("https://rare-gallery.com/mocahbig/478560-abstract-colorful-stripes-circle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body::after {
  content: '';
  inset: 0;
  z-index: -1;
  position: absolute;
  background-color: rgba(0, 0, 0, .2);
}
h1 {
  font-size: 4em;
  padding-bottom: 1em;
}
.container {
  width: 60vw;
  height: 60vh;
}
form {
  width: 50%;
  height: 20%;
}
label {
  font-size: 1.5em;
  color: #fff;
  position: relative;
}
.input-container label {
  align-self: flex-start;
}
input {
  font-size: 1.25em;
  color: #000;
  padding: 0.5em 0.75em;
  margin: 0 0.25em;
  border-radius: 0.25em;
  border: none;
  outline: none;
}
button {
  align-self: flex-end;
  font-size: 1.25em;
  border: none;
  border-radius: 0.25em;
  outline: none;
  color: #000;
  background-color: #fff;
  padding: 0.5em 1.5em;
  font-weight: 600;
  transition: var(--trans-fast);
}
button:hover {
  cursor: pointer;
  scale: 1.025;
}
.todos {
  position: relative;
  padding: 1em 0;
  margin-top: 2em;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 0.75em;
  overflow-y: auto;
  justify-content: flex-start;
  box-shadow: 0 .1em .5em 0 #000;
}
.todos::-webkit-scrollbar {
  width: 3px;
}
.todo {
  margin: 1em 0;
  min-width: 75%;
  min-height: 20%;
  border-radius: 0.5em;
  justify-content: flex-start;
  position: relative;
  transition: var(--trans-fast);
  animation-name: scale;
  animation-duration: 500ms;
}
.todo:nth-child(6n + 1) {
  background-image: linear-gradient(45deg, rgb(102, 241, 60), rgb(63, 255, 239));
}
.todo:nth-child(6n + 2) {
  background-image: linear-gradient(45deg, rgb(241, 60, 60), rgb(255, 149, 63));
}
.todo:nth-child(6n + 3) {
  background-image: linear-gradient(45deg, rgb(205, 60, 241), rgb(255, 63, 153));
}
.todo:nth-child(6n + 4) {
  background-image: linear-gradient(45deg, rgb(241, 238, 60), rgb(153, 159, 252));
}
.todo:nth-child(6n + 5) {
  background-image: linear-gradient(45deg, rgb(54, 248, 158), rgb(63, 249, 255));
}
.todo:nth-child(6n + 6) {
  background-image: linear-gradient(45deg, rgb(253, 58, 221), rgb(230, 241, 241));
}
@keyframes scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.todo:hover {
  cursor: grab;
}
.todo:active {
  cursor: grabbing;
}
h2 {
  font-size: 3em;
  margin-left: 1em;
  user-select: none;
  color: #000;
}
h2.cross {
  text-decoration: line-through;
  color: rgb(255, 255, 255);
}
h2:hover {
  cursor: default;
}
i {
  font-size: 2em;
  margin: 0 0.5em;
  transition: var(--trans-fast);
  color: #000;
}
.icons {
  position: absolute;
  right: 5%;
}
i:hover {
  cursor: pointer;
  color: #fff;
}
.new-input {
  margin-left: 1em;
  max-height: 60%;
  max-width: 40%;
  padding: .25em;
  font-size: 1em;
}
.over {
  opacity: 0.5;
}
@media (min-width: 400px) and (max-width: 1000px) {
  h1 {
    text-align: center;
    font-size: 3em;
  }
  h2 {
    font-size: 1em;
  }
  i {
  	font-size: 1.25em;
  }
  .container {
    width: 90vw;
  }
  .todos {
    min-width: 100%;
    min-height: 80%;
  }
  .todo {
    width: 75%;
    height: 10%;
  }
}
@media (min-width: 1001px) and (max-width: 1500px) {
  h1 {
    text-align: center;
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
  i {
  	font-size: 1.25em;
  }
  .container {
    width: 90vw;
  }
  .todos {
    min-width: 100%;
    min-height: 80%;
  }
  .todo {
    width: 75%;
    min-height: 50px;
    height: 15%;
  }
}
